@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Headline</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p class="mkt-copy">
                @ViewBag.Copy
            </p>
        </div>
    </section>
}
<h3>Keep up to date with news of @ViewBag.ProductName:</h3>
<div>
    <form>
        <input type="text" placeholder="you@address.com" />
        <input type="button" id="cta" value="Sign up!" />
    </form>
</div>